body {
    background-color: black;
    font-size:x-large;
}
h1 {
    color: white;
    font-family: Comic Sans MS, sans-serif;
}
p {
    color: white;
    font-family: Comic Sans MS, sans-serif;
}
#end {
    font-size: xx-large;
}
textarea {
    font-size: 20px;
}
button {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}